<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
        
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        
        <li class="active treeview">
          <a href="http://localhost/tiket/admin/index.php">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
           
          </a>
          
        </li>
       
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Event</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://localhost/tiket/admin/pages/buat_event.php"><i class="fa fa-circle-o"></i> Buat Event</a></li>
            <li><a href="http://localhost/tiket/admin/pages/event.php"><i class="fa fa-circle-o"></i> Lihat Semua Event</a></li>
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Administrasi</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://localhost/tiket/admin/pages/pesanan.php"><i class="fa fa-circle-o"></i> Pesanan</a></li>
            <li><a href="http://localhost/tiket/admin/pages/pelanggan.php"><i class="fa fa-circle-o"></i> Pelanggan</a></li>
          </ul>
        </li>  
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Laporan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://localhost/tiket/admin/pages/report.php"><i class="fa fa-circle-o"></i> Lihat Laporan</a></li>
          </ul>
        </li>
        
        <li class="active treeview">
          <a href="http://localhost/tiket/admin/pages/logout.php">
            <i class="fa fa-share"></i> <span>Logout</span>
          </a>
          
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>